body {
  font-family: Arial;
  background: #f4f4f4;
}

.form-container {
  width: 450px;
  height: 300px;
  margin: 15% auto;
  background: rgb(200, 238, 233);
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: left;     /* horizontal center */
}


/* Progress bar */
.progress-container {
  width: 100%;
  height: 8px;
  background: rgb(197, 210, 218);
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  width: 25%;
  background: #4CAF50;
  border-radius: 5px;
  transition: width 0.3s ease;
}

/* Steps */
.step {
  display: none;
  animation: fade 0.3s ease;
}

.step.active {
  display: block;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  padding: 8px 15px;
  margin-right: 5px;
  cursor: pointer;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
