body {
  font-family: Arial, sans-serif;
  background: #e2bfdc;
}

.container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  
}
 

#dropArea {
  border: 2px  rgb(31, 29, 29);
  padding: 30px;
  background: #fff;
  cursor: pointer;
  border-radius: 20px;
}

#dropArea.dragover {
  background: #e0f7fa;
  border-color: #00acc1;
}

.progress-container {
  width: 100%;
  background: #ddd;
  height: 10px;
  margin-top: 15px;
  display: none;
}

#progressBar {
  height: 100%;
  width: 0;
  background: #00acc1;
}

#preview img {
  width: 100%;
  margin-top: 15px;
  border-radius: 6px;
}

#error {
  color: red;
  margin-top: 10px;
}
